html, body {
  background: #d2c2bd;
  margin: 0;
}


/*image start*/
.responsive-image{
    width: 100%;
    background-size: 100% 100%;
} 

and finally, we serve for every view-port the right image:

/* Retina display */
@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url('http://i65.tinypic.com/2yvjkvc.jpg');
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('http://i65.tinypic.com/2yvjkvc.jpg');
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .responsive-image{
        background-image: url('http://i65.tinypic.com/2yvjkvc.jpg');
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .responsive-image{
        background-image: url('http://i65.tinypic.com/2yvjkvc.jpg');
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    .responsive-image{
        background-image: url('http://i65.tinypic.com/2yvjkvc.jpg');
    }
} 

/*image end*/
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    background: url('http://i65.tinypic.com/2yvjkvc.jpg') no-repeat;
}


.login-block {
    width: 320px;
    padding: 20px;
    margin: auto;
    width: 75%;
    background: #403c3cd1;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
    position: relative;
}

.login-block h1 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('../img/user.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('../img/pass.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}